@charset "UTF-8";
body {
            background-color: rgb(235, 240, 164);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(182, 160, 34);
            background-color: rgb(71, 71, 27);
        }
        h2 { 
            color: rgb(146, 93, 14);
        }
        p {
            text-align: justify;
        }
